@page "/offers/{Id:guid}"
@using LIT.Smabu.Domain.Shared.Common;
@using LIT.Smabu.Domain.Shared.Invoices;
@using LIT.Smabu.Domain.Shared.Offers;
@using LIT.Smabu.Shared.Customers;
@using LIT.Smabu.Shared.Offers;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@inject PageInfoService pageInfoService;
@attribute [Authorize]

<MudContainer>
    @if (model != null)
    {
        <MudStack Row Justify="Justify.SpaceBetween">
             <MudText Typo="Typo.h4">@("Angebot " + @model.Number.ToShortString())</MudText>
            <MudButtonGroup Size="Size.Small" Variant="Variant.Outlined" OverrideStyles="false" DisableElevation>

            </MudButtonGroup>
        </MudStack>

        <MudForm Model="model" Class="mt-6" @bind-IsValid="@success" @bind-Errors="@errors" ReadOnly="@(!canEdit)">
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudTextField Label="#" ReadOnly Value="@model.Number.ToShortString()" />
                 </MudItem>
                 <MudItem xs="12" sm="6">
                     <MudTextField Label="Kunde" ReadOnly Value="@(model.Customer.Number.ToShortString() + " / " + @model.Customer.Name)" />
                 </MudItem>
                 <MudItem xs="12" sm="6">
                     <MudTextField Label="Angebotsdatum" @bind-Value="@model.OfferDate" />
                 </MudItem>
                 <MudItem xs="12" sm="6">
                     <MudTextField Label="Gültig bis" @bind-Value="@model.ExpiresOn" />
                 </MudItem>
                 <MudItem xs="12" sm="2">
                     <MudNumericField Label="Steuer" @bind-Value="@model.Tax" Min="0" Max="99" />
                 </MudItem>
                 <MudItem xs="12" sm="6">
                     <MudTextField Label="Steuer-Info" @bind-Value="@model.TaxDetails" />
                 </MudItem>
                 <MudItem xs="12" sm="4">
                     <MudTextField Label="Summe" Disabled Value="@Currency.GetEuro().Format(@model.Amount)" />
                 </MudItem>

                 <MudItem xs="12">
                     <MudStack Row Justify="Justify.SpaceBetween" Class="mt-6">
                         <MudText Typo="Typo.h6">@("Positionen")</MudText>
                        <MudButtonGroup>
                            <MudButton OnClick="@AddItem" StartIcon="@Icons.Material.Filled.Add" Disabled="@(!canEdit)">Neu</MudButton>
                        </MudButtonGroup>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="12">
                        <MudSimpleTable>
                            <thead>
                                <tr>
                                    <th>Pos.</th>
                                    <th>Beschreibung</th>
                                    <th>Menge</th>
                                    <th>Einheit</th>
                                    <th>Einzelpreis</th>
                                    <th>Summe</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in model.Items)
                            {
                                <tr>
                                    <td>@item.Position</td>
                                    <td>@item.Details</td>
                                    <td>@item.Quantity.Value</td>
                                    <td>@item.Quantity.Unit</td>
                                    <td style="white-space:nowrap;">@model.Currency.Format(item.UnitPrice)</td>
                                    <td style="white-space:nowrap;">@model.Currency.Format(item.TotalPrice)</td>
                                    <td>
                                        <MudStack Row>
                                         <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="@Color.Default" Size="Size.Small" Href="@($"Offers/{Id}/items/{item.Id}")" title="Öffnen"></MudIconButton>
                                         <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="@Color.Error" Size="Size.Small" OnClick="@(() => RemoveItem(@item))" title="Löschen" Disabled="@(!canEdit)"></MudIconButton>
                                     </MudStack>
                                 </td>
                             </tr>
                            }
                            <tr>
                                <td></td>
                                <td style="font-weight: bold;">Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="white-space:nowrap; font-weight: bold;">@model.Currency.Format(@model.Amount)</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </MudSimpleTable>
                </MudItem>

                <MudItem xs="12">
                    <MudButtonGroup Class="mt-6 justify-center d-flex">
                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Default" Href="/offers" />
                        <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Success" Disabled="@(!success)" OnClick="@SubmitAsync" />
                    </MudButtonGroup>
                </MudItem>
            </MudGrid>
        </MudForm>
    }
</MudContainer>




@code {
    @inject NavigationManager NavigationManager;
    @inject IDialogService DialogService;
    [Parameter] public Guid Id { get; set; }

    bool success;
    string[] errors = { };
    OfferDTO model;
    bool canEdit = true;

    protected override async Task OnInitializedAsync()
    {
        this.pageInfoService.ShowBusyOverlay();
        var model = await Http.GetFromJsonAsync<OfferDTO>($"Offers/{Id}") ?? throw new Exception("NotFound");
        this.model = model;
        this.pageInfoService.HideBusyOverlay();
    }

    private async Task SubmitAsync()
    {
        var dto = new EditOfferDTO { Id = model.Id, OfferDate = model.OfferDate, ExpiresOn = model.ExpiresOn, Tax = model.Tax, TaxDetails = model.TaxDetails };
        using var response = await Http.PutAsJsonAsync($"Offers/{Id}", dto);
        NavigationManager.NavigateTo("/offers");
    }

    private async Task AddItem()
    {
        this.pageInfoService.ShowBusyOverlay();
        var dto = new AddOfferItemDTO() { Id = new OfferItemId(Guid.NewGuid()), OfferId = model.Id, Details = "" };
        using var response = await Http.PostAsJsonAsync($"Offers/{Id}/items", dto);
        NavigationManager.NavigateTo($"/offers/{Id}/items/{dto.Id}");
        this.pageInfoService.HideBusyOverlay();
    }

    private async Task RemoveItem(OfferItemDTO item)
    {
        bool? result = await DialogService.ShowMessageBox(
            $"Position {item.Position} löschen",
            "",
            yesText: "OK", cancelText: "Abbrechen");
        if (result ?? false)
        {
            using var responseDelete = await Http.DeleteAsync($"Offers/{Id}/items/{item.Id}");
            var responseOffer = await Http.GetFromJsonAsync<OfferDTO>($"Offers/{Id}");
            model.Items = responseOffer!.Items;
        }
    }
}