@page
@model LIT.Smabu.Web.Areas.Offers.Pages.IndexModel;

@{
    ViewData["Title"] = "Angebote";
}

<div class="row">
    <div class="col-xs-12 col">
        <vc:page-header area="Angebote" page=""></vc:page-header>
    </div>
    <div class="col-xs-12 col-auto">
        <a class="btn btn-sm btn-light" asp-area="Offers" asp-page="Create">
            <i class="bi bi-plus"></i>
        </a>
    </div>
</div>

@{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Erstellt am</th>
                <th scope="col">Kunde</th>
                <th scope="col">Summe</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in Model.Source!)
            {
                <tr>
                    <th scope="row">@offer.Number.Long</th>
                    <td>@offer.CreatedOn?.ToShortDateString()</td>
                    <td>@offer.Customer.Name</td>
                    <td>@offer.Currency.Format(offer.Amount)</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-sm btn-outline-secondary" asp-area="Offers" asp-page="Delete" asp-route-id="@offer.Id" title="Löschen">
                                <i class="bi bi-trash"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-secondary" asp-area="Offers" asp-page="Details" asp-route-id="@offer.Id" title="Details">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}